extends /base.pug
block head
  style: :stylus
    body { background: #fdfeff }
block body
  .w-1024.px-2.px-lg-4.rwd.m-auto.typeset.heading-contrast
    .text-center.my-4.py-4
      img(src="/assets/img/g0v-only.svg",style="width:3em")
      h1.my-2 零時政府社群守則
      a(href="/coc/en") English Version
    .text-center.text-sm.my-4.text-muted #{data.coc.lastupdated} 修訂 ( #[a(href="https://g0v.hackmd.io/COC") 編修共筆] )
    .card.shadow: .card-body: .m-3
      | !{data.coc.zh}
