//- module
mixin project(id,title)
  .row.mb-4.pb-4.project
    .col-md-4.h-100
      .thumb(style="background-image:url(assets/img/projects/" + id + ".jpg)")
    .col-md-8.h-100: .vertical-center: div
      h3= title
      hr
      block
each item in data.project
  -
    if(item[i18n.language()]) {
      prjinfo = item[i18n.language()];
    } else {
      prjinfo = item.zh;
    }
  +project(item.slug, prjinfo.name)
    | !{prjinfo.description}
