extends /base.pug
block head
  +css("/css/portfolio.css")
block body
  .w-1024.px-2.px-lg-4.mx-auto.rwd.typeset.heading-contrast
    .text-center.my-4.pt-4
      img(src="/assets/img/g0v-only.svg",style="width:3em")
      h1.display-4.font-weight-bold 社群成果
      .text-muted Community Portfolio
    .text-center
      a#update-time.btn.btn-outline-dark(role="button" href="https://dashboard.g0v.tw/all" target="_blank"): :i18n dashboard:current
        span n/a
      p.text-center#loading-text: :i18n dashboard:loading
    .container.py-4
      .row
        .col-12.col-sm-6.col-lg-4.p-2: .card#slack-users
          .card-body.text-center
            p.card-text
              span 0
              a(style='font-size: 2em;') +
              br
              a(href='https://join.g0v.tw/', target='_blank'): :i18n dashboard:slack_user
        .col-12.col-sm-6.col-lg-4.p-2: .card#slack-channels
          .card-body.text-center
            p.card-text
              span 0
              :i18n dashboard:quantifier_1
              br
              :i18n dashboard:slack_channels
        .col-12.col-sm-6.col-lg-4.p-2: .card#slack-messages
          .card-body.text-center
            p.card-text
              span 0
              a(style='font-size: 2em;') +
              br
              a(href='https://g0v-slack-archive.g0v.ronny.tw/', target='_blank'): :i18n dashboard:slack_message
        .col-12.col-sm-6.col-lg-4.p-2: .card#summit-count
          .card-body.text-center
            p.card-text
              span 0
              :i18n dashboard:quantifier_2
              br
              a(href='https://summit.g0v.tw/', target='_blank'): :i18n dashboard:summit
        .col-12.col-sm-6.col-lg-4.p-2: .card#hackathon-count
          .card-body.text-center
            p.card-text
              span 0
              :i18n dashboard:quantifier_2
              br
              a(href='https://jothon.g0v.tw/events/', target='_blank'): :i18n dashboard:hackathon
        .col-12.col-sm-6.col-lg-4.p-2: .card#hackathon-proposals
          .card-body.text-center
            p.card-text
              span 0
              :i18n dashboard:quantifier_1
              br
              a(href='https://docs.google.com/spreadsheets/d/1C9-g1pvkfqBJbfkjPB0gvfBbBxVlWYJj6tTVwaI5_x8/', target='_blank'): :i18n dashboard:proposal
        .col-12.col-sm-6.col-lg-4.p-2: .card#fanpage-like
          .card-body.text-center
            p.card-text
              span 0
              :i18n dashboard:quantifier_3
              br
              a(href='https://www.facebook.com/g0v.tw', target='_blank'): :i18n dashboard:likes
        .col-12.col-sm-6.col-lg-4.p-2: .card#fanpage-follow
          .card-body.text-center
            p.card-text
              span 0
              :i18n dashboard:quantifier_3
              br
              a: :i18n dashboard:follows
        .col-12.col-sm-6.col-lg-4.p-2: .card#github-repos
          .card-body.text-center
            p.card-text
              span 0
              a(style='font-size: 2em;') +
              br
              a(href='https://github.com/g0v', target='_blank'): :i18n dashboard:repo
        .col-12.col-sm-6.col-lg-4.p-2: .card#10th-count
          .card-body.text-center
            p.card-text
              span 1
              :i18n dashboard:quantifier_2
              br
              a(href='https://10th.g0v.tw/', target='_blank'): :i18n dashboard:10th
    p.text-center
      | #[a(href="https://github.com/g0v/g0v-dashboard" target="_blank") g0v dashboard]
      :i18n dashboard:is_opensource
    hr.my-5

    .typeset.heading-contrast.pt-4
      p: :i18n index:g0vManySides_description
      .text-center.text-sm.text-muted OSDC 2013 Keynote 「g0v 黑客松 - 寫程式改造社會」 by Kirby
        .w-100.mb-4.mt-1
          .aspect-ratio(style="padding-top:75%"): .w-100.h-100: iframe.w-100.h-100(src="https://www.youtube.com/embed/0HURMy0l4Ck")
      hr
      p
        :i18n index:portfolioData
        | 
        :i18n index:portfolioMoreData
        | 
        a(href=intlbase("dashboard/")): :i18n index:dashboardLinkText
        | 
        :i18n index:awesomeProjects
      p
        :i18n index:famousProjects
      include ../modules/project.pug

      p
        :i18n index:hackathonRecords
            
      h3
        :i18n index:grantsTitle
      p
        :i18n index:grantsDescription
    hr.my-5
    iframe(src='https://timeline.g0v.tw' title='g0v timeline' style="width: 100%; height: 80vh;")
  .pb-4 &nbsp;

  +script("/js/dashboard.js")



    






    


