//- module
.foot: .inner
  .row
    .col-md-3
      span 關於 g0v
      .mt-3.list
        .item: a(href="#",target="_blank") g0v 宣言
        .item: a(href="#",target="_blank") 聯繫我們
        .item: a(href="#",target="_blank") 演講資訊
        .item: a(href="#",target="_blank") 媒體報導
        .item: a(href="#",target="_blank") 社群守則
        .item: a(href="#",target="_blank") 收支明細

    .col-md-3
      span 專案開發
      .mt-3.list
        .item: a(href="http://www.facebook.com/groups/387816094628136/",target="_blank") 臉書社團
        .item: a(href="https://github.com/g0v",target="_blank") Github 源碼庫
        .item: a(href="https://hack.g0v.tw/",target="_blank") 黑客松入口網
        .item: a(href="https://g0v.hackmd.io/",target="_blank") HackMD 共筆
        .item: a(href="https://g0v.hackpad.tw/",target="_blank") Hackpad 共筆

    .col-md-3
      span 參與貢獻
      .mt-3.list
        .item: a(href="#") 新手指南
        .item: a(href="https://hack.g0v.tw/",target="_blank") 黑客松入口網
        .item: a(href="#") Slack 聊天室
        .item: a(href="http://www.facebook.com/groups/387816094628136/",target="_blank") 臉書社團

    .col-md-3
      img(src="/assets/img/g0v-banner.svg",style="height:32px")
      br
      a(href="http://www.facebook.com/g0v.tw") #[i.fa.fa-facebook]
      a(href="https://twitter.com/search?q=%23g0v&src=hash") #[i.fa.fa-twitter]
      a(href="https://plus.google.com/102893633954450772289") #[i.fa.fa-google-plus]

      img(src="assets/img/justfont.png",style="width:48px;height:48px;margin-left:-14px")
      a(href="https://justfont.com",style="display:inline") web font provided by justfont

      img(src="/assets/img/loader-jothon.svg",style="width:48px;height:48px;margin-left:-14px")
      a(href="https://loading.io",style="display:inline") animations are made possible by loading.io
