//- module
mixin project(id,title)
  .row.mb-4.pb-4.project
    .col-4
      .thumb(style="background-image:url(assets/img/projects/" + id + ".jpg)")
    .col-8: .vertical-center: div
      h3= title
      hr
      block
each item in data.project
  +project(item.slug, item.zh.name)
    | !{item.zh.description}

