extends /base.pug
block head
  style: :stylus
    body { background: #fdfeff }
block body
  .w-1024.px-2.px-lg-4.rwd.m-auto.typeset.heading-contrast
    +nbr(2)
    .text-center.mt-2.mb-4
      img(src="/assets/img/g0v-only.svg",style="width:3em")
      h1.my-2 g0v Code of Conduct
      a translated by Sam Robbins
      br  
      a(href="/coc/") 正體中文
    .text-center.text-sm.my-4.text-muted 2020.01.18 edited ( #[a(href="https://g0v.hackmd.io/COC") collaboration document] )
    .card.shadow: .card-body: .m-3
      | !{data.coc.en}
