extends /base.pug
block body
  .w-1024.px-2.px-lg-4.rwd.m-auto.typeset.heading-contrast
    .text-center.my-4.py-4
      img(src="/assets/img/g0v-only.svg",style="width:3em")
      h1.display-4.font-weight-bold 活動資訊
      .text-muted Events and Activities

    p g0v 社群線下實體活動與線上討論兼具，一個月會有一到兩場聚會。實體活動以黑客松為大宗，不定期也會有演講、分享會、教學、unconference 等活動。
    p 了解 g0v 最快的方式就是實際來參與一次。無論線上或線下，你都可以找得到各種管道與社群參與者互動。想要更了解開源協作的模式，可以參考  #[a(href="https://g0v.hackmd.io/@jothon/g0v-cowork-guideline/%2Fi8yAY4OUTi6DRDWE9_UVNw") g0v 開源協作手冊]。
    h2 線下參與
    hr
    h3 雙月黑客松／大松
    h4 什麼是黑客松
    p 黑客松是兩個英文字的組合， hack marathon ，簡稱為 hackathon。就是一群工作者，在一個時空裡面（通常是一天到兩天），進行馬拉松式的協作活動。在密集的時間、空間，大家把自己的腦力、體力全部貢獻在某個專案上面。

    p.text-muted.text-sm 註：「黑客」是指對計算機科學、程式設計方面具高度理解的人，也泛指願意用不同方式解決問題的人。
    p 自 g0v 發起以來每兩個月舉辦一次的雙月黑客松（大松）已是 g0v 的常駐活動了，在這裡你可以找到形形色色的參與者，無論是老手、新手、各種不同領域的人，都在這個一整天的活動中熱烈地討論、實作、並在活動結束時將成果向大家發表。
    p 在大松中，群眾運用資訊科技、分析問題、協作分工，數位工具為公民帶來更多的可能性，我們不只是等著被號召累積連署數字的散戶，而是可以一起作點什麼，來累積公民參與所需要的基礎工具。最重要的是，不會寫程式也可以參加大松！關於活動的更多細節可以在黑客松入口網「#[a(href="https://jothon.g0v.tw/") 揪松網] 」找到，你亦可關注揪松團的#[a(href="https://g0v-jothon.kktix.cc/") 公開活動頁面] 來隨時獲得最新活動的訊息。
    
    h3 雙月黑客松／大松
    p 除了大松以外，揪松團亦定期舉辦以社群基礎建設專案為主的「基礎松」，其他亦有各個 g0v 專案大大小小不定期的活動（小松），可依自己關注的領域來選擇。社群小松各有不同的性質，通常會在活動資訊中說明適合參與的對象，可定期關注 #[a(href="https://www.facebook.com/groups/g0v.general/") 臉書後勤中心] 與 #[a(href="https://join.g0v.tw/") g0v Slack] 討論群組以取得活動的最新資訊。
    
    p 以下為目前 / 曾經活躍的社群活動，活動族繁不及備載：
    ul
      li vTaiwan #[a(href="https://vtaiwan.kktix.cc/") 活動報名頁] / #[a(href="https://www.facebook.com/groups/vtaiwan/") 臉書社團]
      li 真的假的 Line Bot #[a(href="https://cofacts.kktix.cc/") 活動報名頁] / #[a(href="https://www.facebook.com/groups/cofacts/") 臉書社團]
      li 萌典 #[a(href="https://moe.kktix.cc/") 活動報名頁] / #[a(href="https://www.facebook.com/MoeDict/") 臉書專頁]
    
    h2 線上參與
    hr
    p 除了線下活動外，社群參與者們也頻繁積極地在線上討論群組中交換專案的意見，是一個即時獲得社群回饋的方便管道。目前主要的討論群組包括：
    ul 
      li #[a(href="https://www.facebook.com/groups/g0v.general/") g0v 後勤中心（Facebook）] 
      li #[a(href="https://join.g0v.tw/") g0v 線上聊天室（Slack）] 
    p 使用線上討論群組請注意群組規範，並保持良好的態度與禮貌。

    h2 活動時間
    hr
    p 各項活動的確切日期可參考社群活動行事曆：
    .w-100: .aspect-ratio.ratio-2by1: .w-100.h-100: iframe.w-100.h-100.border-0(src="https://www.google.com/calendar/embed?src=cpcf6iv5pt9l6gl2ue3svo63e8%40group.calendar.google.com&ctz=Asia/Taipei")
    