//- module
doctype html
- var ctrl = {navtop: {show: true}};
- var use = {}
include @static/assets/lib/ldui/pug/ldui.pug
include /data/all.pug
block vars
html(lang="en")
  head(prefix="og: http://ogp.me/ns#")
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel="shortcut icon" type="image/x-icon" href="/assets/g0v.ico")
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap" rel="stylesheet")
    title g0v 台灣零時政府
    base(href="/")
    include /modules/library.pug
    //-+css("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
    +css("/assets/lib/bootstrap/4.3.1/bootstrap.min.css")
    +css("/assets/lib/ldui/ldui.min.css")
    +css("/css/index.css")
    block head
  body
    if ctrl.navtop.show
      include /modules/navtop.pug
    block body
    include /modules/foot.pug
    //-script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap.native/2.0.26/bootstrap-native-v4.min.js")
    +script("/assets/lib/bootstrap.native/2.0.15/bootstrap.native.v4.min.js")
    +script("/assets/lib/ldui/ldui.min.js")
    +script("/assets/lib/xfl/xfl.js")
    +script("//s3-ap-northeast-1.amazonaws.com/justfont-user-script/jf-59395.js")
    +script("/assets/lib/jquery/jquery-3.5.1.min.js")
    +script("/js/index.min.js")
    block script
