extends /base.pug
block vars
  - ctrl.navtop.show = false;
block head
block body

  //-#landing(style="background:url(/assets/img/fluid-bk-left.svg) no-repeat -100px 0")
  #fb-root
  script(async defer crossorigin="anonymous" src="https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v8.0&appId=790774158155903&autoLogAppEvents=1" nonce="GYDp0yoU")
  #landing
    .dark-shape
    .lang
      //-.btn.btn-light.ml-1.btn-sm EN
      .btn.btn-light.ml-1.btn-sm 中文
    .row.content
      .thumb.col: img(src="assets/img/g0v-hero.jpg")
      .desc.col
        img.d-block.mr-auto.ml-auto(src="assets/img/g0v-only.svg")
        p 自台灣發起、去中心化的公民科技社群「零時政府」，以資訊透明、開放成果、開放協作為核心，透過群眾草根的力量來關心公共事務。 #[a(href="#",data-scrollto="#more") ... 了解更多]
        hr
        .text-center
          //-.btn.btn-outline-danger.mr-1.d-none.d-md-inline-block(data-scrollto="#more") 了解更多
          .btn.btn-outline-danger.mr-1.mb-2(data-scrollto="#projects") 成果列表
          .btn.btn-outline-danger.mr-1.mb-2(data-scrollto="#participate") 如何參與
          a.btn.btn-outline-danger.mb-2(href="/manifesto/" rol="button") g0v 宣言

  .w-1024.px-2.px-lg-4.mx-auto.rwd.d-flex
    div
      .typeset.heading-contrast.pt-4
        h2#news.m-0 最新消息
        hr
        p g0v 為開放社群，在媒體平台上的貼文，提供「所有」參與者都有可以發表的機會，因此建立一套治理機制，通過發文審核後，文章將會透過擁有平台權限的參與者協助排程貼出。詳情可參考 #[a(href="https://g0v.hackmd.io/@chihao/Hkm9tPaxr" target="_blank") g0v SNS 社群治理機制共筆]#[br] #自己的小編自己當
        h3 粉絲專頁
        .fb-page(data-href="https://www.facebook.com/g0v.tw" data-tabs="timeline" data-width="500" data-height="500" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false")
          blockquote(cite="https://www.facebook.com/g0v.tw" class="fb-xfbml-parse-ignore")
            a(href="https://www.facebook.com/g0v.tw") g0v.tw 台灣零時政府
            
        h3 g0v.news
        #g0vnews
        p.text-right.my-4
          a(href="https://g0v.news/" target="_blank") more...
      .typeset.heading-contrast.pt-2
        .text-muted what is g0v?
        h2#more.m-0 零時政府是什麼？
        hr
        p g0v 是一個草根式的公民社群，致力於加深公民對社會的貢獻以及彼此間的連結。透過 g0v 社群，你可以在這裡尋找志同道合的夥伴，以草根的方式實踐你的理念，並將成果以開放授權模式釋出，讓更多的人可以站在你的成果上接力賽跑。
        p 將 gov 以「零」替代成為 g0v，從零重新思考政府的角色，也代表數位原生世代從 0 與 1 世界的視野。
        h3 運作模式
        p g0v.tw 的推動結合線上與實體，以各種網路工具加上兩個月一次的黑客松工作坊#[span.text-danger.text-sm (註)]，參與者自主提出專案邀集不同專業者加入，透過 g0v.tw 的實體、線上平台媒合各方資源，協作並開源專案成果，不定期會舉辦小型黑客松工作坊。分散式的組織強調自主參與的能量，鼓勵大家找出問題、提出解決方案、參與討論分享資源，以實作代替按讚。
        p.text-muted.text-sm (註：「黑客松」hackathon 即 hacker's marathon，是自主參加的密集合作活動，通常在一到兩天的限定時間內由提案、分組、工作、成果報告都自發加入，許多提案在活動前展開線上討論，當天實體活動迅速整合，能在短時間衝刺出初步成果。)
        h3 社群組成
        p g0v 參與者包含線上線下，來自各個領域，只要遵循「開源協作」理念，並不限於軟體專案。社群參與者組成從早期大多為工程師背景，到現在已有六成以上的參與者為非技術背景，其中包括設計、法律、社運、文字工作者等多種不同領域來的參與者。
        p 不會寫程式可以參加嗎？#[b 可以喔！]

        h3 零時政府宣言
        p 最初由瞿筱葳起草，經社群多次討論與修改，零時政府宣言明確定義 g0v 的精神、協作與開源的中心思想，可以類比為零時政府的「憲法」。想更了解零時政府，請直接參考「#[a(href="/manifesto/") 零時政府宣言]」全文。

        h3 更多面向
        p 幾句簡單的話，實在無法說明完整的 g0v 樣貌。不過，你可以透過其他的面向來了解 g0v ，或者參考 Kirby 於 OSDC 2013 Keynote 所分享的「#[a(href="https://www.youtube.com/watch?v=0HURMy0l4Ck") g0v 黑客松 - 寫程式改造社會]」演講影片：
        .text-center.my-4.py-4
          a.btn.btn-outline-danger.mr-2.mb-2(href=root + "event/") 活動資訊
          a.btn.btn-outline-danger.mr-2.mb-2(href="novice/") 新手指南
          a.btn.btn-outline-danger.mb-2(href=root + "faq/") 常見問題
        .text-center.text-sm.text-muted OSDC 2013 Keynote 「g0v 黑客松 - 寫程式改造社會」 by Kirby
        .w-100.mb-4.mt-1
          .aspect-ratio(style="padding-top:75%"): .w-100.h-100: iframe.w-100.h-100(src="https://www.youtube.com/embed/0HURMy0l4Ck")

      .typeset.heading-contrast.pt-4
        .text-muted Projects
        h2#projects.m-0 社群成果
        hr
        p 自 2012 年底開始，零時政府以 g0v 黑客松作為起點，已舉辦了 4 次國際年會、4 屆公民科技獎助金、42+ 場黑客松、 40+ 場受邀演講、 150+ 次媒體報導，8000+ 遍布三大洲的貢獻者，成果皆以開放授權模式釋出，更多數據可參考#[a(href="/dashboard") g0v 儀錶板]。
        p 數十次的黑客松亦產出了相當多的專案，所有專案成果及源碼均以開放授權分享於全體大眾。以下簡單介紹幾個知名 g0v 專案：
        include modules/project.pug
                  
        p 每次 g0v 大松提案皆透過線上直播，因此你可以從 g0v Youtube 頻道找到 #[a(href="https://www.youtube.com/user/g0vTW/playlists" target="_blank") 專案簡報與成果分享] 的影片紀錄。若你對黑客松的活動現場感到興趣，黑客松亦有#[a(href="https://flickr.com/g0v/" target="_blank") 平面影像紀錄]。
              
        h3 獎助金成果
        p 由 「#[a(href="https://jothon.g0v.tw/about/" target="_blank") g0v 揪松團]」 規畫執行的「#[a(href="https://grants.g0v.tw/" target="_blank") g0v 公民科技創新獎助金]」亦協助了包含「金流百科」、「農業災損幾多錢」、「開源神手」、「美國國會觀測站」、「投票指南」等許多專案。關於更多獎助金專案的成果，你可以到「#[a(href="https://grants.g0v.tw/power/") 公民科技創新獎助金成果報告]」中取得更多資訊。

      .typeset.heading-contrast.pt-4
        .text-muted Participate
        h2#participate.m-0 如何參與？
        hr
        p 了解 g0v 最快的方式就是實際來參與一次。無論線上或線下，你都可以找得到各種管道與社群參與者互動。

        h3 線下：大小黑客松雙月黑客松與社群小松
        h4 雙月黑客松 / 大松
        p 自 g0v 發起以來每兩個月舉辦一次的雙月黑客松 ( #[b.text-info 大松] ) 已是 g0v 的常駐活動了，在這裡你可以找到形形色色的參與者，無論是老手、新手、各種不同領域的人，都在這個一整天的活動中熱烈地討論、實作、並在活動結束時將成果向大家發表。
        p 最重要的是，不會寫程式也可以參加大松！關於活動的更多細節可以在 #[a(href="https://jothon.g0v.tw/" target="_blank") 黑客松入口網「揪松網」] 找到，你亦可關注 #[a(href="http://g0v-jothon.kktix.cc" target="_blank") 揪松團] 的公開活動頁面來隨時獲得最新活動的訊息。
        h4 專案黑客松 / 小松
        p 除了大松以外，揪松團亦定期舉辦以社群基礎建設專案為主的「基礎松」，其他亦有各個 g0v 專案大大小小不定期的活動 ( #[b.text-info 小松] )，可依自己關注的領域來選擇。
        p 社群小松各有不同的性質，通常會在活動資訊中說明適合參與的對象，可定期關注臉書後勤中心與 g0v Slack 討論群組以取得活動的最新資訊。

        h3 線上：臉書後勤中心與 slack 討論群組
        p 除了線下活動外，社群參與者們也頻繁積極地在線上討論群組中交換專案的意見，是一個即時獲得社群回饋的方便管道。目前主要的討論群組包括：
        ul
          li: a(href="https://www.facebook.com/groups/g0v.general/" target="_blank") g0v 後勤中心 ( 臉書 )
          li: a(href="https://join.g0v.tw" target="_blank") g0v 線上聊天室 ( Slack )
        p 使用線上討論群組請注意群組規範，並保持良好的態度與禮貌。
        h3 其它管道
        p 只要發揮 g0v 的草根精神，開工就等於參與！不過若你想要更具體的參與感，以下提供幾個其它的管道：
        .row
          .col-md-4: .card.shadow-sm.mb-4.h-100: .card-body
            h4.text-center 捐款認養大松
            p g0v 雙月大黑客松主要由志工維持，場地、食物及所需經費皆由參與者協助籌措。透過線上捐款，你也可以成為支持活動的一份子！
            a.btn-block(href="https://ocf.neticrm.tw/civicrm/contribute/transact?reset=1&id=30&_ga=2.218722001.93807760.1535621686-361420765.1511415990" target="_blank") 現在就捐款
          .col-md-4: .card.shadow-sm.mb-4.h-100: .card-body
            h4.text-center 參與獎助金提案
            p g0v 揪松團為提升公民科技專案的續航力籌辦公民科技創新獎助金，只要符合公民科技專案的條件，皆可提案參與。
            a.btn-block(href="https://grants.g0v.tw" target="_blank") 現在就提案
          .col-md-4: .card.shadow-sm.mb-4.h-100: .card-body
            h4.text-center 發起相關活動
            p 目前 g0v 黑客松主要仍在台灣舉行，但海外已有若干國家響應。在你的國家沒有嗎？何不考慮在你的國家發起 g0v 黑客松呢？
            a.btn-block(href="http://g0v.network" target="_blank") 現在就發起
        
        h3 更多資訊
        p 若你想參與 g0v 卻仍不得其門而入，就來看看#[a(href="/novice/") 新手指南]吧！

    .d-none.d-md-block(style="min-width:8em"): .sticky.ml-4.pl-4.pt-4.border-left.border-danger
      br
      .mb-4
        .text-danger.clickable(data-scrollto="#news") 最新消息
      .mb-4
        a.clickable.d-block(href="#",data-scrollto="#more") 了解更多
        a.clickable.d-block(href="#",data-scrollto="#projects") 成果列表
        a.clickable.d-block(href="#",data-scrollto="#participate") 如何參與
      .mb-4
        a.clickable.d-block(href="/manifesto/") g0v 宣言
        a.clickable.d-block(href="/dashboard/") 儀錶板
        a.clickable.d-block(href="/tool/") 協作工具
        a.clickable.d-block(href="/event/") 活動資訊
        a.clickable.d-block(href="/novice/") 新手指南
        a.clickable.d-block(href="/faq/") 常見問題
        a.clickable.d-block(href="/contact/") 聯絡我們
        a.clickable.d-block(href="/coc/") 社群守則
        a.clickable.d-block(href="https://ocf.neticrm.tw/civicrm/contribute/transact?reset=1&id=30",
        target="_blank") 小額捐款

block script
  +script(root + "js/news.js")
  +script(root + "assets/threejs/r98/three.min.js")
  +script(root + "assets/svg-mesh/svg-mesh.js")
  +script(root + "js/landing.js")
