extends /base.pug
block body
  .w-1024.mx-auto.rwd.typeset.heading-contrast.mt-4.pt-4
    h1.mb-0 常見問題
    hr
    each item in data.faq
      h3(id=item.Q) !{item.Q}
      div !{item.A}
    hr
    p FAQ 亦透過 #[a(href="https://g0v.hackpad.tw/g0v-FAQ-ULNGIs20R9X",target="_blank") 線上系統協作] 整理中，歡迎參考。
