//- module
doctype html
- var root = "";
- var ctrl = {};
- var use = {}
- ctrl.navtop = {};
include /../../static/assets/ldui/pug/ldui.pug
block vars
html(lang="en")
  head(prefix="og: http://ogp.me/ns#")
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    include /modules/library.pug
    +css("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
    +css("https://fonts.googleapis.com/css?family=Roboto")
    +css(root + "assets/ldui/ldui.min.css")
    +css(root + "css/index.css")
    block head
  body
    block body
    include /modules/foot.pug
    script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap.native/2.0.26/bootstrap-native-v4.min.js")
    +script(root + "assets/ldui/ldui.min.js")
    +script(root + "assets/xfl/xfl.js")
    +script(root + "js/index.js")
    block script

