//- module
doctype html
- var root = "";
include /vars.pug
include /mixins.pug
include /components/index.pug
block vars
html(lang="en")
  head(prefix="og: http://ogp.me/ns#")
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    include /library.pug
    +css("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
    +css("https://fonts.googleapis.com/css?family=Roboto")
    +css(root + "assets/ldui/ldui.min.css")
    +css(root + "css/index.css")
    block head
  body
    if ctrl.navtop.show
      +navtop()
    block body
    .foot: .inner
      .row
        .col-md-3
          span 專案開發
          .mt-3.list
            .item: a(href="http://www.facebook.com/groups/387816094628136/",target="_blank") 臉書社團
            .item: a(href="https://github.com/g0v",target="_blank") Github 源碼庫
            .item: a(href="https://hack.g0v.tw/",target="_blank") 黑客松入口網
            .item: a(href="https://g0v.hackmd.io/",target="_blank") HackMD 共筆
            .item: a(href="https://g0v.hackpad.tw/",target="_blank") Hackpad 共筆

        .col-md-3
          span 參與貢獻
          .mt-3.list
            .item: a(href="http://www.facebook.com/groups/387816094628136/",target="_blank") 臉書社團
            .item: a(href="https://github.com/g0v",target="_blank") Github 源碼庫
            .item: a(href="https://hack.g0v.tw/",target="_blank") 黑客松入口網
            .item: a(href="https://g0v.hackmd.io/",target="_blank") HackMD 共筆
            .item: a(href="https://g0v.hackpad.tw/",target="_blank") Hackpad 共筆

        .col-md-6
          img(src="/assets/img/g0v-banner.svg",style="height:32px")
          br
          a(href="http://www.facebook.com/g0v.tw") #[i.fa.fa-facebook]
          a(href="https://twitter.com/search?q=%23g0v&src=hash") #[i.fa.fa-twitter]
          a(href="https://plus.google.com/102893633954450772289") #[i.fa.fa-google-plus]


    //-#footer
      .dark-shape
      img(src="assets/img/g0v-banner-dark.svg")
      hr
      div MIT License ( Code )
      div CC-BY 4.0 License ( Content )
      div by g0v.tw contributors

    script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap.native/2.0.26/bootstrap-native-v4.min.js")
    +script(root + "assets/ldui/ldui.min.js")
    +script(root + "assets/xfl/xfl.js")
    +script(root + "js/index.js")
    block script

