.footer: .inner
  .row
    .col-sm
      span g0v.tw 2012 - 2018
      .mt-3.list(repeat-host)
        .item(repeat-item): a(href="#",editable="true") Home
        .item(repeat-item): a(href="#",editable="true") About Us
        .item(repeat-item): a(href="#",editable="true") Privacy Policy
        .item(repeat-item): a(href="#",editable="true") Term of Use
    .col-sm
      img(src="/assets/img/g0v-banner.svg",style="height:32px")
      br
      i.fa.fa-facebook
      i.fa.fa-twitter
      i.fa.fa-google-plus
      i.fa.fa-dribbble

