//- module
include mixins.pug
+carousel("carousel-example-controles")
  .carousel-item.active
    div(style="background-image:url(/assets/img/landing/1.jpg)")
      #hero-text: .inner
        img.d-block.mr-auto.ml-auto(src="/assets/img/g0v-only.svg",style="height:200px")
        h4.text-center 台灣零時政府
        p 將 gov 以「零」替代成為 g0v，從零重新思考政府的角色的台灣公民科技社群

  //-.carousel-item
    div(style="background-image:url(/assets/img/landing/2.jpg)")
  //-.carousel-item
    div(style="background-image:url(/assets/img/landing/3.jpg)")
//-#hero-text: .inner
  img.d-block.mr-auto.ml-auto(src="/assets/img/g0v-only.svg",style="height:200px")
  h4.text-center 台灣零時政府
  p 將 gov 以「零」替代成為 g0v，從零重新思考政府的角色的台灣公民科技社群
