//- module
nav.navbar.navbar-expand-lg.navbar-dark.bg-black.text-light
  button.navbar-toggler(type="button",data-toggle="collapse",data-target="#navbar-list"): span.navbar-toggler-icon
  #navbar-list.collapse.navbar-collapse
    a.navbar-brand(href="/"): img(src="/assets/img/g0v-banner.svg",style="height:27px;margin-top:-8px")
    ul.navbar-nav

      li.nav-item.dropdown
        a.nav-link.dropdown-toggle(href="#",data-toggle="dropdown") 關於我們
        .dropdown-menu
          a.dropdown-item(href="/manifesto/") 零時政府宣言
          a.dropdown-item(href="/contact/") 聯繫我們
          a.dropdown-item(href="/media/") 媒體報導
          a.dropdown-item(href="#") 收支明細

      li.nav-item.dropdown
        a.nav-link.dropdown-toggle(href="#",data-toggle="dropdown") 如何參與
        .dropdown-menu
          a.dropdown-item(href="#") 新手指南
          a.dropdown-item(href="#") 常見問題
          a.dropdown-item(href="https://ocf.tw/donate/",target="_blank") 小額捐款 #[i.fa.fa-usd]#[i.fa.fa-usd]
          .dropdown-divider
          a.dropdown-item(href="#",target="_blank") 臉書後勤中心

      li.nav-item: a.nav-link(href="#") 成果列表

    .navbar-nav.ml-auto
      a.nav-item.nav-link(href="#") 正體中文
      a.nav-item.nav-link(href="#") English
      a.nav-item.nav-link(href="#") #[i.fa.fa-twitter]
      a.nav-item.nav-link(href="#") #[i.fa.fa-facebook]
      a.nav-item.nav-link(href="#") #[i.fa.fa-google-plus]
      a.nav-item.nav-link(href="#") #[i.fa.fa-github]


