//- module
include mixins.pug
.news
  h3 最新消息
  .item #[.date 07/20] #[span 2018 獎助金 期中報告 ]
  .item #[.date 04/27] #[span g0v 公民科技創新獎助金 2017-2018 獲獎團隊 聯絡清單 ]
  .item #[.date 03/23] #[span 2018 年 g0v 公民科技創新獎助金獲獎名單 ]
  .item #[.date 01/31] #[span 2018 評選委員名單公布 ]
  .item #[.date 01/23] #[span 2018 提案追問團來啦！ ]
  .item #[.date 01/11] #[span 獎助金心訣：用創意挑戰原本以為不可能被解決的問題 ]
  .item #[.date 12/26] #[span 參加提案說明工作坊，把秘訣帶回家！ ]
