//- module
doctype html
include vars.pug
html(lang="en")
  head(prefix="og: http://ogp.me/ns#")
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    // libraries
    include /library.pug
    // custom files
    link(rel="stylesheet",type="text/css",href="/css/index.css")
    script(src="/assets/xfl/xfl.js")
    script(type="text/javascript",src="/js/index.js")
  body
    include nav.pug
    include landing.pug
    br
    .row.block1024
      .col-sm-4
        .card.bg-primary.text-white(style="height:200px")
          .card-body
            span 公民科技獎助金熱切徵案中！
        br
        .card.bg-success.text-white(style="height:200px")
          .card-body
            span 想參加黑客松嗎？現在就到揪松網？
      .col-sm-8
        .card.bg-light.text-dark(style="height:430px")
          .card-body
            include news.pug
    +nbr(2)
    include intro.pug
    //-include footer.pug
    +nbr(3)

    .footer: .inner
      .row
        .col-sm
          span 專案開發
          .mt-3.list
            .item: a(href="http://www.facebook.com/groups/387816094628136/",target="_blank") 臉書社團
            .item: a(href="https://github.com/g0v",target="_blank") Github 源碼庫
            .item: a(href="https://hack.g0v.tw/",target="_blank") 黑客松入口網
            .item: a(href="https://g0v.hackmd.io/",target="_blank") HackMD 共筆
            .item: a(href="https://g0v.hackpad.tw/",target="_blank") Hackpad 共筆
        .col-sm
          img(src="/assets/img/g0v-banner.svg",style="height:32px")
          br
          a(href="http://www.facebook.com/g0v.tw") #[i.fa.fa-facebook]
          a(href="https://twitter.com/search?q=%23g0v&src=hash") #[i.fa.fa-twitter]
          a(href="https://plus.google.com/102893633954450772289") #[i.fa.fa-google-plus]

