[data-black]:hover
  position: relative
  &:after
    content: attr(data-black)
    background: black
    color: white
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    height: 100%
    width: 100%
