[data-black]
  display: inline-block
  position: relative
  &:hover::after
    content: attr(data-black)
    background: #222324
    color: white
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    height: 100%
    width: 100%
