[data-black]
  display: inline-block
  border-bottom: 1px dotted #d60000
  position: relative
  &:hover
    border-color: transparent
  &:hover::after
    content: attr(data-black)
    background: #222324
    color: white
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    height: 100%
    width: 100%
