@import 'vars.styl'
@import 'basic.styl'

@font-face
  font-family: 'c0nsolas'
  src: local('consolas')
  unicode-range: U+30

html,body
  width: 100%
  height: 100%
  margin: 0
  padding: 0
  font-family: 'Noto Sans TC'
  font-size: 20px
  font-weight: 300
  color: #222324
b, strong
  font-weight: 700
  font-family:  jf-jinxuan, serif

p
  text-align: justify

html,body,.typeset
  font-family: 'Noto Sans TC', Roboto, Helvetica, Arial, sans-serif
h1,h2,h3,h4,h5,h6
  font-family:  jf-jinxuan, serif
.typeset
  h1,h2,h3,h4,h5,h6
    font-family:  jf-jinxuan, serif
    font-weight: 700

a, a:hover, a:focus, a:active
  color: #d60000

.bg-black
  background-color: #000!important

nav.navbar .collapse
  max-width: 1200px
  margin: auto

.carousel > a
  z-index: 2
.carousel .carousel-item > div
  width: 100%
  height: 60vh
  background-size: cover
  position: relative
  &:before
    content: " "
    display: block
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 1
    background: linear-gradient(90deg,rgba(0,0,0,.2),rgba(255,255,255,.3),rgba(255,255,255,.3),rgba(0,0,0,.2))

.content
  .video
    position: relative
    max-width: 640px
    margin: auto
    width: 90%
    &:after
      content: " "
      display: block
      width: 100%
      height: 0
      padding-bottom: 75%

    iframe
      position: absolute
      top: 0
      left: 0
      border: none
      width: 100%
      height: 100%
#hero-text
  position: absolute
  z-index: 2
  width: 100%
  top: 0
  left: 0
  height: 60vh
  display: table
  .inner
    display: table-cell
    vertical-align: middle
    text-align: center
    h4
      margin: -30px 0 60px

.news
  .item
    .date
      font-family: sans-serif
      background: #999
      color: #fff
      display: inline
      padding: 3px 6px
      border-radius: 3px
      font-weight: 200
      font-size: .7em
.char.cjk
  display: inline
  -webkit-text-emphasis: circle
  -webkit-text-emphasis-position: under

.card-body
  .btn-block
    position: absolute
    left: 0
    bottom: 0
    text-align: center
    height: 3em
    line-height: 3em
    border: 1px solid
    border-radius: 0 0 0.25rem 0.25rem
    transition: .3s
  .btn-block:hover
    color: white
    text-decoration: none
    background-color: #dc3545

@import 'landing.styl'
@import 'intro.styl'
@import 'project.styl'
@import 'modules/foot.styl'
@import 'modules/navtop.styl'
