//- module

.project
  .thumb
    height: 350px
    background: #eee
    background: #eee center center no-repeat
    background-size: cover
    box-shadow: 0 2px 4px rgba(0,0,0,.3)
    border: 1px solid #999
  h3
    margin-top: 12px
