//- module

.project
  .thumb
    height: 0
    padding-top: 100%
    background: #eee
    background: #eee top center no-repeat
    background-size: cover
    box-shadow: 0 2px 4px rgba(0,0,0,.3)
    border: 1px solid #999
  h3
    margin-top: 1em !important
