extends /base.pug
block head
  +css("/css/g0vernance.css")
block body
  .w-1024.px-2.px-lg-4.mx-auto.rwd.typeset.heading-contrast
    .text-center.my-4.pt-4
      img(src="/assets/img/g0v-only.svg",style="width:3em")
      h1.display-4.font-weight-bold 社群參與的各種#[span(data-black="禮貌") 姿勢]
      .text-muted Community g0vernance
    .text-center.text-sm.my-4.text-muted #[a(href="https://g0v.hackmd.io/vYdTfaYeR7SnIU3zT5evOw?view", target="_blank") 編修共筆]
    hr    
    

    h2.mb-3 動機
    p g0v 社群是一個多中心、自由參與的社群，之所以持續協作，有賴社群參與者間、各專案、各工作小組間的互相尊重，與對社群規範的遵循。
    p 社群規範，除了有要求參與者一律遵守的#[a(href="https://g0v.tw/intl/zh-TW/coc/") 零時政府社群守則]，還有一些統稱為「社群治理」的 know-how，包含提案、社群媒體發文、公開專案與徵求協作、對外徵求資源與曝光等等，匯整了社群一路摸索調整，試行到目前為止，較符合社群行動共識的操作流程。以下列舉這些治理機制，供社群參考。

    h2.mb-3 g0v 的行動共識
    p 除了社群參與守則以外，在 g0v 社群大家有一些行動共識
    ul
      li 共識應可經過社群持續討論修改(#[a(href="https://g0v.hackmd.io/Ki8oBtnjTjitnyp84ckYbA", target="_blank") 討論共筆])
      li 無論是對外採訪、募款、計畫申請，你所代表的僅是「你自己」「你跳坑的專案」「你有貢獻的部分」，g0v 是眾人貢獻，無法被單一個人代表。
        span(data-black="不要把別人做的事情說成是你自己做的，如果有別人，不要漏掉別人。" style="color: transparent;") 不要把別人做的事情說成是你自己做的，如果有別人，不要漏掉別人。
      li 專案需要有可以開放給其他人使用的機制（開放程式碼、文章標明作者等），有明確的授權使用標示，會讓參與的人更知道自己的貢獻會如何被顯示、利用。
      li 專案或工作小組的管理者名單應公開，且盡量隨時保持最新狀態。
      li
        p.mb-1 具體可以怎麼做
        ul
          li 任何場合皆不要「代表 g0v」發言
          li 小心使用「我們」、「we」
          li 要有不同語言意義差異的敏感度
          li 發言時必須提醒聽眾「這是一個 g0v 參與／貢獻者的觀點」，並且常用「我認為」、「我覺得」
          li: span(data-black="不是你講的話有沒有這個意思，是別人聽起來有沒有這個意思。（建議先讓別人看過）" style="color: transparent;") 不是你講的話有沒有這個意思，是別人聽起來有沒有這個意思。（建議先讓別人看過）

    h2.mb-3 社群治理機制列表
    .row
      .col-md-8
        each item, key in data.g0vernance
          div(id="g0vernance-"+key)
            each _i in item
              a.mb-2.d-block(href=_i.url, target="_blank") !{_i.name}
        hr.my-4
        .pb-4 &nbsp;
      //-.col-md-4
        .sticky(style="max-height: 80vh; overflow-y: auto;"): .list-group.text-sm
          each item, key in data.g0vernance
            .list-group-item.text-truncate(data-scrollto=`#${"g0vernance-"+key}`) g0v !{key}
    







    






    


