@font-face {
  font-family: 'c0nsolas';
  src: local('consolas');
  unicode-range: U+30;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans TC';
  font-size: 18px;
  font-weight: 300;
  color: #222324;
line
}
p {
  line-height: 1.75em;
}
li {
  margin-bottom: 0.5em;
}
li:last-child {
  margin-bottom: 0;
}
b,
strong {
  font-weight: 700;
  font-family: jf-jinxuan, serif;
}
html,
body,
.typeset {
  font-family: 'Noto Sans TC', Roboto, Helvetica, Arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: jf-jinxuan, serif;
}
.typeset h1,
.typeset h2,
.typeset h3,
.typeset h4,
.typeset h5,
.typeset h6 {
  font-family: jf-jinxuan, serif;
  font-weight: 700;
}
a,
a:hover,
a:focus,
a:active {
  color: #d60000;
}
.bg-black {
  background-color: #000 !important;
}
nav.navbar .collapse {
  max-width: 1200px;
  margin: auto;
}
.carousel > a {
  z-index: 2;
}
.carousel .carousel-item > div {
  width: 100%;
  height: 60vh;
  background-size: cover;
  position: relative;
}
.carousel .carousel-item > div:before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(90deg, rgba(0,0,0,0.2), rgba(255,255,255,0.3), rgba(255,255,255,0.3), rgba(0,0,0,0.2));
}
.content .video {
  position: relative;
  max-width: 640px;
  margin: auto;
  width: 90%;
}
.content .video:after {
  content: " ";
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 75%;
}
.content .video iframe {
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  width: 100%;
  height: 100%;
}
#hero-text {
  position: absolute;
  z-index: 2;
  width: 100%;
  top: 0;
  left: 0;
  height: 60vh;
  display: table;
}
#hero-text .inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
#hero-text .inner h4 {
  margin: -30px 0 60px;
}
.news .item .date {
  font-family: sans-serif;
  background: #999;
  color: #fff;
  display: inline;
  padding: 3px 6px;
  border-radius: 3px;
  font-weight: 200;
  font-size: 0.7em;
}
.char.cjk {
  display: inline;
  -webkit-text-emphasis: circle;
  -webkit-text-emphasis-position: under;
}
.card-body .btn-block {
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
  height: 3em;
  line-height: 3em;
  border: 1px solid;
  border-radius: 0 0 0.25rem 0.25rem;
  -ms-transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.card-body .btn-block:hover {
  color: #fff;
  text-decoration: none;
  background-color: #dc3545;
}
#covertoggle:checked ~ div,
#covertoggle:checked ~ label,
#covertoggle:checked {
  display: none;
}
#landing {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-bottom: 4px solid #c42026;
}
#landing .dark-shape {
  z-index: 0;
  position: absolute;
  width: 1000px;
  height: 200%;
  background: #222;
  border-right: 24px solid #c42026;
  top: 0;
  -ms-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  transform: rotate(15deg);
  top: -250px;
  left: -600px;
  background-size: cover;
}
#landing .dark-shape:after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}
#landing .lang {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 20px;
  font-size: 14px;
}
#landing .thumb img {
  position: relative;
  z-index: 1;
  margin: 20px;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.3), 8px 8px 0 0 rgba(0,0,0,0.8);
  mix-blend-mode: normal;
  border: 4px solid #fff;
}
#landing .content {
  width: 1024px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#landing .desc img,
#landing .desc canvas {
  margin: 100px auto 20px auto;
  width: 300px;
  display: block;
}
.sticky a.clickable {
  margin-bottom: 0.25rem;
  white-space: nowrap;
  word-break: keep-all;
}
@media (max-width: 1200px) {
  #landing .dark-shape {
    left: -800px;
  }
}
@media (max-width: 1024px) {
  #landing .dark-shape {
    display: none;
  }
  #landing .thumb {
    display: none;
  }
  #landing .content {
    max-width: 800px;
    width: 90%;
  }
  #landing .content .desc img {
    margin: 20px auto;
  }
}
iframe.video {
  width: 640px;
  height: 480px;
  margin: 20px auto 20px auto;
  border: none;
  display: block;
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
}
.para {
  padding-bottom: 20px;
}
.para h3 {
  margin-top: 48px;
}
.para .sticky {
  z-index: 2;
  background: rgba(255,255,255,0.8);
  padding: 10px 10px 10px 0;
}
.para .sticky h1,
.para .sticky h2,
.para .sticky h3,
.para .sticky h4,
.para .sticky h5,
.para .sticky h6 {
  margin-top: 0;
}
.main > .inner {
  max-width: 1024px;
  padding: 100px 200px 0 0;
  margin: auto;
}
.main .sticky {
  top: 0;
  height: 100%;
}
.main .sticky .inner {
  position: absolute;
  top: 0;
  width: 200px;
  right: 0;
  height: 400px;
  background: none;
  color: #444;
  padding: 30px;
  border-left: 4px solid #c42026;
}
.main .sticky .inner a {
  display: block;
}
.project .thumb {
  margin-top: 1rem !important;
  height: 0;
  padding-top: 100%;
  background: #eee;
  background: #eee top center no-repeat;
  background-size: cover;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  border: 1px solid #999;
}
.project h3 {
  margin-top: 1rem !important;
}
body > .foot {
  margin-top: 100px;
  background: linear-gradient(60deg, #000, #222);
  color: #fff;
  position: relative;
  min-height: 220px;
  overflow: hidden;
}
body > .foot a {
  color: #eeeff0;
}
body > .foot .dark-shape {
  z-index: 0;
  position: absolute;
  width: 1000px;
  height: 200%;
  background: #222;
  border-left: 24px solid #c42026;
  top: 0;
  -ms-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  transform: rotate(15deg);
  top: -50px;
  right: -600px;
  background-size: cover;
}
body > .foot .dark-shape:after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}
#navtop {
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
}
