extends /base.pug
block body
  .w-1024.px-2.px-lg-4.mx-auto.rwd.typeset.heading-contrast
    .text-center.my-4.py-4
      img(src="/assets/img/g0v-only.svg",style="width:3em")
      h1.display-4.font-weight-bold 常見問題
      .text-muted Frequently Asked Questions
    hr
    .row
      .col-md-9
        each item, id in data.faq
          h3(id="faq"+id) !{item.Q}
          div !{item.A}
      .col-md-3
        .list-group.text-sm.sticky
          each item, id in data.faq
            .list-group-item.text-truncate(data-scrollto=`#${"faq"+id}`) !{item.Q}

    hr
    h3 找不到你想問的問題嗎？
    p FAQ 亦透過 #[a(href="https://g0v.hackpad.tw/g0v-FAQ-ULNGIs20R9X",target="_blank") 線上系統協作] 整理中，歡迎參考。你也可以透過 #[a(href="https://join.g0v.tw") 社群線上 Slack 聊天室] 尋求解答。
