@import 'vars.styl'
@import 'basic.styl'

@font-face
  font-family: 'c0nsolas'
  src: local('consolas')
  unicode-range: U+30

html,body
  width: 100%
  height: 100%
  margin: 0
  padding: 0
  font-family: c0nsolas, 'Varela Round', sans-serif
  font-size: 20px

a
  color: #d60000

.bg-black
  background-color: #000!important

nav.navbar .collapse
  max-width: 1200px
  margin: auto

.block1200, .block1024
  width: 90%
  margin: auto

.block1200
  max-width: 1200px

.block1024
  max-width: 1024px

.carousel > a
  z-index: 2
.carousel .carousel-item > div
  width: 100%
  height: 60vh
  background-size: cover
  position: relative
  &:before
    content: " "
    display: block
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 1
    background: linear-gradient(90deg,rgba(0,0,0,.2),rgba(255,255,255,.3),rgba(255,255,255,.3),rgba(0,0,0,.2))

.content
  .video
    position: relative
    max-width: 640px
    margin: auto
    width: 90%
    &:after
      content: " "
      display: block
      width: 100%
      height: 0
      padding-bottom: 75%

    iframe
      position: absolute
      top: 0
      left: 0
      border: none
      width: 100%
      height: 100%
#hero-text
  position: absolute
  z-index: 2
  width: 100%
  top: 0
  left: 0
  height: 60vh
  display: table
  .inner
    display: table-cell
    vertical-align: middle
    text-align: center
    h4
      margin: -30px 0 60px

/*.footer
  background: linear-gradient(45deg,#111,#222)
  color: #fff
  .inner
    a
      color: #fff
    max-width: 1024px!important
    margin: auto!important
    padding: 40px 10px 80px
    .col-sm b:first-child
      font-weight: 900
      font-size: 1.1em
    i.fa
      font-size: 1.2em
      margin-right: 20px
  img
    margin-bottom: 20px
*/
.news
  .item
    .date
      font-family: sans-serif
      background: #999
      color: #fff
      display: inline
      padding: 3px 6px
      border-radius: 3px
      font-weight: 200
      font-size: .7em
.char.cjk
  display: inline
  -webkit-text-emphasis: circle
  -webkit-text-emphasis-position: under

@import 'landing.styl'
@import 'intro.styl'
@import 'footer.styl'
@import 'project.styl'
