//- module

iframe.video
  width: 640px
  height: 480px
  margin: 20px auto 20px auto
  border: none
  display: block

.sticky
  position: -webkit-sticky
  position: sticky
.para
  padding-bottom: 20px
  h3
    margin-top: 48px
  .sticky
    z-index: 2
    background: rgba(255,255,255,.8)
    padding: 10px 10px 10px 0
    h1,h2,h3,h4,h5,h6
      margin-top: 0

.main
  & > .inner
    max-width: 1024px
    padding: 100px 200px 0 0
    margin: auto
  .sticky
    top: 0
    height: 100%
    .inner
      position: absolute
      top: 0
      width: 200px
      right: 0
      height: 400px
      background: none
      color: #444
      padding: 30px
      border-left: 4px solid #c42026
      a
        display: block
