extends /base.pug
block head
  link(rel="stylesheet", type="text/css", href="/css/timeline.css")
block body
  .w-1024.px-2.px-lg-4.m-auto.rwd

    +nbr(3)
    .text-center
      h1.display-4.font-weight-bold 媒體報導
      .text-muted Media Coverage
    +nbr(1)
    .text-center
      h1.display-6.font-weight-bold 國內媒體&emsp;&emsp;&emsp;&emsp;國外媒體
      .text-muted &emsp;Domestic Media&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;International Media
    +nbr(3)
    
    .timeline
      ul#list

    //.timeline
    //  ul#list2

    +nbr(3)
    .w-1024.px-2.px-lg-4.mx-auto.rwd
      p 想要幫忙追加內容嗎？請協助編修 #[a(href="https://docs.google.com/spreadsheets/d/1YaD9e3HQ19ft2lSz_B9nnxjw8A-4Tbfain9OvnS38aw/edit#gid=0") 媒體報導列表協作] 檔案。
    +nbr(3)
block script 
  +script("/assets/lib/jquery/jquery-3.5.1.min.js")
  +script("https://cdnjs.cloudflare.com/ajax/libs/jquery-csv/1.0.21/jquery.csv.min.js")
  +script("/assets/lib/csv/read_csv.js")
